section.about   
    div.container
        h2.about__title#conf О конференции
        div.about__wrap
            p.about__description Общие фотографии с конференции "Нелинейные дни в Саратове для молодых - 2023":
            span.icon-download
                a(href='/' class='about__link ' download) Фото.7z
            p.about__description Следующая конференция запланирована на 19-23 мая 2025 года. В качестве культурной программы предлагается поездка в село Лох. Лох - уникальное место Саратовской области, сочетающее в себе исторические, архитектурные и природные достопримечательности: пещера разбойника Кудеяра, Симов родник и река Соколка жёлтого цвета, деревянная водяная мельница XIX века, старинная церковь Архангела Михаила, рядом с которой сейчас разбивается современный ландшафтный парк, Сад неправильных скульптур.
            p.about__description Любые пожелания и предложения по поводу проведения следующей конференции с удовольствием ждём на нашу почту nonlindays@sgu.ru. 