mixin main-svg(className, imgLink)
    svg(class=className)
        use(xlink:href=imgLink)

mixin triangle-svg(className, imgLink)
    svg(class=className)
        use(xlink:href=imgLink)

mixin snowflake-svg(className, imgLink)
    svg(class=className)
        use(xlink:href=imgLink)

mixin siteEmail(href, name)
    a(class!= attributes.class href= href)= name


//- Перетащить потом в _navigation.pug
-
    let heroMenu = {
        '#conf': 'О конференции',
        '#programm-committee': 'Программный комитет',
        '#organising-committee': 'Организационный комитет',
        '#organizers': 'Организаторы'
    };
    let menu = {
        '#home': 'Главная',
        '#conf': 'О конференции',
        '#rules': 'Правила оформления тезисов',
        '#dates': 'Ключевые даты',
        '#program': 'Программа конференции',
        '#rules': 'Архив',
        '#howtoget': 'Как добраться',
        '#contacts': 'Контакты'
    }