-
    let menu = {
        '#home': 'Главная',
        '#conf': 'О конференции',
        '#rules': 'Правила оформления тезисов',
        '#dates': 'Ключевые даты',
        '#program': 'Программа конференции',
        '#rules': 'Архив',
        '#howtoget': 'Как добраться',
        '#contacts': 'Контакты'
    };
    let heroMenu = {
        '#conf': 'О конференции',
        '#programm-committee': 'Программный комитет',
        '#organising-committee': 'Организационный комитет',
        '#organizers': 'Организаторы'
    };