footer.footer
    .container
        div.footer__wrap
            h2.footer__description ФГБОУ ВО "Саратовский национальный исследовательский государственный университет имени Н. Г. Чернышевского"
            span.footer__copyright © 2021 - 2023