include _mixin
header.header
    div.container
        div.header__wrap
            div.header__burger-wrap
                div.header__burger-shadow 
                    div.header__burger-triangle
                        span.header__burger-line
            
            div.header__logo-wrap
                a(href='/' class="header__logo-link")
                    picture
                        +main-svg('header__logo-img', '../img/svg/logo.svg#logo')
                    h1.header__logo-title Нелинейные дни

            div.header__navigation-wrap
                nav.header__navigation
                    ul.header__navigation-list
                        each value, key in menu
                            li.header__navigation-item
                                a(href=key, class="header__navigation-link")= value
                    div.header__navigation-burger
    
    div.header__line