extends layout/main


block variables_layout
    -
        let title = 'Главная | Нелинейные дни';
        let curPage = '/';
block content
    main
        include ./section/offer
        include ./section/about
