*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*{
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Jura', sans-serif;
  font-size: 0.7144vw;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

body {
  color: #000;
  background-color: #f6f4f4;
}

.container {
  width: 140rem;
  padding: 0 2rem;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{

}

li, ul{
  list-style: none;
}

@media (min-width: 1400px){
  html{
    font-size: 10px;
  }
}

@media (max-width: 48em) { //768
  html {
      font-size: 1.1042vw;
  }
  .container {
    padding: 0 4rem;
    width: 100%;
  }

}
