*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*{
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Jura', sans-serif;
  // font-size: 0.7144vw;
  font-size: 0.625vw;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  color: #000;
  background-color: #f1f1f1;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{

}

li, ul{
  list-style: none;
}

.icon{
  &-download{
    background-image: url('https://nonlindays.sgu.ru/core/themes/classy/images/icons/package-x-generic.png');
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1600px){
  html{
    font-size: 10px;
  }
}

@media (max-width: 48em) { //768
  html {
      font-size: 1.1042vw;
  }
  .container {
    padding: 0 4rem;
    width: 100%;
  }

}
