.header{
  background: $grey;
  height: 8rem;
  width: 100%;

  &__line{
    content: '';
    top: 8rem;
    width: 80%;
    height: .1rem;
    background: $black;
    margin: 0 auto;
  }

  &__wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    width: 100%;
    position: relative;
  }

  &__logo{

    &-link{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      max-width: max-content;
      margin: 0 auto;
    }
    &-img{
      stroke: $black;
      stroke-width: 2;
      fill: $grey;
      width: 4.8rem;
      height: 3.4rem;
    }

    &-title{
      font-size: 4.8rem;
      font-weight: 400;
    }
  }

  &__navigation{

    &-wrap{
      // position: absolute;
      // display: flex;
      // left: 0;
      // top: 12rem;
      opacity: 0;
      overflow: hidden;
      max-width: 0;
      position: absolute;
    }

    &-list{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    &-link{
      font-size: 2.2rem;
      color: $black;
      text-transform: uppercase;
      position: relative;
      padding-left: 2rem;
      transition: .5s padding ease-in-out;
      &::before{
        content: '>';
        position: absolute;
        font-weight: 600;
        top: 2%;
        left: 0;
        transition: .5s padding ease-in-out;
      }
      &:hover{
        padding-left: 4rem;
        color: $grey-black;
        &::before{
          padding-left: 2rem;
        }
      }
      
    }
  }
  &__user{
    &-wrap{
      position: relative;
      cursor: pointer;
      background-color: $white;
      border: .3rem solid $grey-black;
      top: 0;
      height: 7rem;
      width: 7rem;
      right: 0;
      margin-right: 4rem;
    }
  }
  &__burger{
    &-wrap{
      position: relative;
      cursor: pointer;
      border-radius: 0 0 50% 0;
      background-color: $white;
      border: .3rem solid $grey-black;
      top: 0;
      height: 7rem;
      width: 7rem;
      left: 0;
      margin-left: 4rem;
      transition: .5s border-radius ease-in-out;
    }

    position: absolute;
    background: $black;
    border-radius: 15rem;
    width: 4rem;
    height: .4rem;
    top: 1.6rem;
    left: 1.4rem;

    &::after{
      display: block;
      content: '';
      background: $black;
      border-radius: 15rem;
      width: 3rem;
      height: .4rem;
      position: relative;
      top: 1rem;
    }
    &::before{
      display: block;
      content: '';
      background: $black;
      border-radius: 15rem;
      width: 1.5rem;
      height: .4rem;
      position: relative;
      top: 2.5rem;
    }
  }
}

._active{
  position: fixed;
  display: flex;
  left: 0;
  top: 8rem;
  padding-top: 4rem;
  padding: 5%;
  min-width: 100%;
  background-color: $grey;
  height: calc(100vh - 8rem);
  opacity: 1;
  overflow: visible;
}

._burger{
  border-radius: 50%;
  transition: .5s border-radius ease-in-out;
  ._burger-icon{
    
    // top: 50%;
    // transform: rotate(-45deg);
    
   
    // &::after{
    //   width: 3rem;
    //   top: -50%;
    //   transform: rotate(90deg);
    // }
    // &::before{
    //   width: 0;
    // }
  }
}