.header{
  background: $grey;
  height: 7rem;
  width: 100%;

  &__line{
    content: '';
    top: 8rem;
    width: 100%;
    height: .1rem;
    background: $black;
    margin: 0 auto;
  }

  &__wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 100%;
    position: relative;
  }

  &__logo{

    &-link{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      max-width: max-content;
      margin: 0 auto;
    }
    &-img{
      stroke: $black;
      stroke-width: 2;
      fill: $grey;
      width: 4.8rem;
      height: 3.4rem;
    }

    &-title{
      font-size: 2.4rem;
      font-weight: bold;
      letter-spacing: .1rem;
    }
  }

  &__navigation{

    &-wrap{
      // position: absolute;
      // display: flex;
      // left: 0;
      // top: 12rem;
      opacity: 0;
      overflow: hidden;
      max-width: 0;
      position: absolute;
    }

    &-list{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    &-link{
      font-size: 2.2rem;
      color: $black;
      text-transform: uppercase;
      position: relative;
      padding-left: 2rem;
      transition: .5s padding ease-in-out;
      &::before{
        content: '>';
        position: absolute;
        font-weight: 600;
        top: 2%;
        left: 0;
        transition: .5s padding ease-in-out;
      }
      &:hover{
        padding-left: 4rem;
        color: $grey-black;
        &::before{
          padding-left: 2rem;
        }
      }
      
    }
  }
  &__burger{
    
    position: fixed; 
    background: #d5d7da; 
    width: 9rem;
    height: 8rem;
    top: 3rem;
    left: 26rem;
    transition: .5s margin-left ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

/*     -webkit-clip-path: polygon(0 0, 100% 49%, 100% 51%, 0% 100%); */
    clip-path: polygon(0 0, 100% 47%, 100% 53%, 0% 100%);

    &::before{
      position: absolute;
      width: 100%;
      height: 100%;
      background: #ff0000;
      content: "";
      top: 50%;
      left: -5rem;
      animation: 1s linear 0s normal none infinite running rot;
    }

    &::after{
      position: absolute;
      width: 5rem;
      height: .1rem;
      background: $grey;
      content: '';
      top: 50%; 
      right: -5rem;
    }

    &:hover{
      margin-left: 2rem;
      transition: .5s margin-left ease-in-out;
      
    }
    &-wrapper{
      position: absolute;
      left: -16rem;
      width: 16rem;
      height: 7.2rem;
      background: $grey;
    }
    &-wrap{

      

      width: 97%;
      height: 100%;
      position: relative;
      -webkit-clip-path: polygon(0 0, 0 92%, 96% 48%);
      clip-path: polygon(0 0, 0 98%, 98% 50%);

      background: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(252,251,251,1) 100%);


        &-line{
          position: absolute;
          width: 0rem;
          height: 2rem;
          content: '';
          top: 3rem;
          left: 1rem;
          background: transparent;
          
          transition: width .2s ease-in-out, background .2s ease-in-out;
          &::before{
            position: absolute;
            width: .2rem;
            height: 3rem;
            content: '';
            top: 15%;
            left: 1.5rem;
            background: $black;
            transform: rotate(90deg);

            -webkit-box-shadow: 0rem 0rem .9rem .1rem rgba(0, 0, 0, 0.32);
            -moz-box-shadow: 0rem 0rem .9rem .1rem rgba(0, 0, 0, 0.32);
            box-shadow: 0rem 0rem .9rem .1rem rgba(0, 0, 0, 0.32);

            transition: transform .2s ease-in-out;
          }

          &::after{
            position: absolute;
            width: .2rem;
            height: 3rem;
            content: '';
            bottom: 15%;
            left: 1.5rem;
            background: $black;
            transform: rotate(90deg);

            -webkit-box-shadow: 0rem 0rem .9rem .1rem rgba(0, 0, 0, 0.32);
            -moz-box-shadow: 0rem 0rem .9rem .1rem rgba(0, 0, 0, 0.32);
            box-shadow: 0rem 0rem .9rem .1rem rgba(0, 0, 0, 0.32);

            transition: transform .2s ease-in-out;
          }
        }

    }

    &:hover{
      
      @keyframes rot {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      &::before{
        position: absolute;
        width: 50rem;
        height: 15.1rem;
        background: #ff0000;
        content: "";
        top: 50%;
        left: -5rem;
        transform: rotate(360deg);
        transition: transform 1.5s ease-in-out;
      }

      .header__burger-wrap-line{
        width: .2rem;
        background: $black;
        transition: width .2s ease-in-out, background .2s ease-in-out;

        -webkit-box-shadow: 0rem 0rem .9rem .1rem rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 0rem 0rem .9rem .1rem rgba(0, 0, 0, 0.32);
        box-shadow: 0rem 0rem .9rem .1rem rgba(0, 0, 0, 0.32);

        &::before{
          top: 0;
          left: 1.3rem;
          transform: rotate(70deg);
          transition: .2s transform ease-in-out;
        }
    
        &::after{
          bottom: 0;
          left: 1.3rem;
          transform: rotate(110deg);
          transition: .2s transform ease-in-out;
        }
      }
      
      
    }
  }
}

._active{
  position: fixed;
  display: flex;
  left: 0;
  top: 8rem;
  padding-top: 4rem;
  padding: 5%;
  min-width: 100%;
  background-color: $grey;
  height: calc(100vh - 8rem);
  opacity: 1;
  overflow: visible;
}

._burger{
  border-radius: 50%;
  transition: .5s border-radius ease-in-out;
 
}



/* @-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */